@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$backgroundGradient1: hsl(237, 17%, 21%);
$backgroundGradient2: hsl(237, 23%, 32%);
$bodyText: hsl(207, 13%, 34%);
$ctaHoverBackground: hsl(355, 100%, 74%);
$ctaText: hsl(356, 100%, 66%);
$footerBackground: hsl(240, 10%, 16%);
$footerText: hsl(240, 2%, 79%);
$headings: hsl(208, 49%, 24%);
$introGradient1: hsl(13, 100%, 72%);
$introGradient2: hsl(353, 100%, 62%);
$text: hsl(0, 0%, 100%);
$fontOverpass: 'Overpass', sans-serif;
$fontUbuntu: 'Ubuntu', sans-serif;
$fontSize: 16px;


