:root{
    /*Primary*/

    /*CTA text*/
    --light-red: hsl(356, 100%, 66%);
    /*CTA hover background*/
    --very-light-red: hsl(355, 100%, 74%);
    /*headings*/
    --very-dark-blue: hsl(208, 49%, 24%);


    /*Neutral*/

    /*text*/
    --white: hsl(0, 0%, 100%);
    /*footer text*/
    --graydish-blue: hsl(240, 2%, 79%);
    /*body copy*/
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    /*footer background*/
    --very-dark-black-blue: hsl(240, 10%, 16%);


     /*Gradient*/

     /*Background gradient - Intro/CTA mobile nav:*/
     --very-light-gray: hsl(13, 100%, 72%);
     --light-red: hsl(353, 100%, 62%);
     /*Background gradient - body*/
     --very-dark-gray-blue: hsl(237, 17%, 21%);
     --very-dark-desaturated-blue: hsl(237, 23%, 32%);

     /*Typography*/
    --font-family-overpass: "Overpass", sans-serif;
    --font-family-ubuntu: "Ubuntu", sans-serif;
}

.center{
    display: flex;
    align-items: center;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: var(--font-family-overpass);
}

/*Header*/

header{
    background-image:url(images/bg-pattern-intro-mobile.svg), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)) ;
    background-size: 350%;
    background-position: 35% 34%;
    background-repeat: no-repeat;
    padding: 3.5rem 1.5rem;
    border-bottom-left-radius: 100px;
}

.logo-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 5.1rem;
}

.logo-img{
    width: 100%;
    height: auto;
}

.header-nav{
    display: none;
}

.login-signup{
    display: none;
}

.hero{
    margin-top: 6.7rem;
}

.features-section, .characteristics-section{
    padding: 0 1.5rem;
}

h1{
    color: var(--white);
    font-family: var(--font-family-overpass);
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    line-height: 2.8rem;
}

.introduction-paragraph{
    color: var(--white);
    font-family: var(--font-family-overpass);
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 0.95rem;
    text-align: center;
    padding: 0 0.5rem;
}

.introduction-links-div{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 18.1rem;
    margin: 6.1rem auto;
    width: 100%;
    margin-top: 2.8rem;
}

.introduction-anchor{
    width: 100%;
    max-width: 8.56rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font-family-ubuntu);
}

.start-free{
    background-color: var(--white);
    color: var(--light-red);
}

.learn-more{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/*main*/

main{
    
}

/*features-section*/

.features-section{
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designed-title{
    font-family: var(--font-family-overpass);
    font-size: 1.6rem;
}

.features-img{
    background-image:url(images/illustration-editor-mobile.svg), url(images/bg-pattern-circles.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20.375rem;
    width: 100%;
    max-width: 20.375rem;
    margin-top: 3.1rem;
}

.editor-info{
    margin-top: 3.1rem;
}

.editor-title{
    font-size: 1.7rem;
    text-align: center;
    padding: 0 1.2rem;
}

.editor-paragraph{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.9rem;
    line-height: 1.7rem;
}

.content-management-info{
    margin-top: 2.9rem;
}

.content-management-title{
    text-align: center;
    font-size: 1.7rem;
}

.content-management-paragraph{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.3rem;
    line-height: 1.8rem;
}

/*Data center section*/

.data-center-section{
    margin-top: 16.5rem;
    background-color: var(--very-dark-blue);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: 155%;
    background-position: 50% -550%;
    background-repeat: no-repeat;

}

.data-center-img{
    width: 100%;
}

.phone-ilustration{
    position: absolute;
    transform: translateY(-47%);
    max-width: 23.5rem;
}

.data-center-info-div{
    margin-top: 14rem;
}

.art-infraestructure-title{
    text-align: center;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 500;
}

.data-center-paragraph{
    margin-top: 1.5rem;
    text-align: center;
    color: var(--white);
    padding: 0 1.8rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 7.2rem;
}

/*Characteristic section*/

.characteristics-section{
    margin-top: 5rem;
}

.characteristics-img{
    background-image: url(images/illustration-laptop-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 20.5rem;
    height: 20.38rem;
}

.characteristics-info{
    margin-top: 3.2rem;
    text-align: center;
}

h3{
    font-size: 1.7rem;
}

.open-source-paragraph, .tooling-paragraph{
    margin-top: 1.5rem;
    padding: 0 0.8rem;
    line-height: 1.8rem;
}

.open-source-paragraph{
    margin-bottom: 2.3rem;
}